.odc2-base-edge {
  &__link {
    stroke: var(--pf-global--BackgroundColor--dark-200);
    stroke-width: 2px;

    .is-hover &,
    .is-highlight & {
      stroke: var(--pf-global--active-color--400);
    }
  }
}
