.odc2-base-edge.odc2-connects-to {
  --edge--stroke-width: 1px;
  --edge--stroke: var(--pf-global--BackgroundColor--dark-transparent-200);
  --edge--fill: var(--pf-global--BackgroundColor--light-300);
  --edge__link--stroke: var(--pf-global--BackgroundColor--dark-transparent-200);
}
