.odc2-connects-to {
  cursor: pointer;
  stroke-width: 0;
  fill: var(--pf-global--BackgroundColor--dark-200);

  .odc2-m-drag-active & {
    cursor: grab;
  }

  .is-hover &, .is-highlight & {
    fill: var(--pf-global--active-color--400);
  }

  &__hover-arrow {
    fill: var(--pf-global--active-color--400);
  }
}

.topology-connector__remove-bg {
  fill: var(--pf-global--active-color--400);
}

.topology-connector__remove-icon {
  color: var(--pf-global--Color--light-100);
}
