.odc-event-source-link {
  & .odc-base-edge__link {
    stroke: #bbbbbb;
    stroke-width: 2;
  }
  &__marker {
    fill: #bbbbbb;
    stroke-width: 0;
  }
}

.odc-m-drag-active {
  .odc-event-source-link {
    opacity: 0.3;
  }
}
