.odc-knative-service {
  fill: #f1f1f0;
  stroke: #d6d6d6;
  stroke-width: 5px;

  &.is-selected {
    fill: var(--pf-global--active-color--200);
    stroke: var(--pf-global--active-color--100);
  }
}

.odc-m-drag-active {
  .odc-knative-service {
    opacity: 0.3;
    &.is-dragging {
      opacity: 1;
    }
  }
}
